

.mainForm {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    //for simple responsiveness
    width: 100%;
}

textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

button {
    align-self: flex-end;
    padding: 2% 8%;
    margin-top: 2%; 
    @include monteserratHeavy;
}

