@import url('https://fonts.googleapis.com/css2?family=Coustard&family=Montserrat:wght@100;500&display=swap');

/* ==================
GLOBAL STYLING
================== */


html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

h1, h2, h3 {
    font-family: 'Coustard', serif;
}

h4, h5, h6 {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
}